.sort-header {
    display: flex;
    justify-content: space-between;
    i {
        cursor: pointer;
        padding: 0 4px;
    }
}

.group-btns {
    label {
        margin-right: 8px;
       
    }
}